@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap');
@import "./variables";

* {
    margin: 0;
    padding: 0;
    font-family: 'Manrope';
}

.container {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column; 
}

.dashboard {
    flex-direction: column; 
}

.price-list {
    align-items: center;
}

.reservation-creation {
    align-items: center;
}

.reservations {
    align-items: center;
}

.reservation {
    align-items: center;
    width: 70%;
    margin: 20px 0;
    border: 1px solid $night;    
    border-radius: $main-border-radius;
    padding-top: 20px;

    @media (max-width: 800px) {
        width: 90%;
    }

    .route-provider {
        width: 85%;
    }
}

.route-provider {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: flex-start;
    align-items: center;
    padding: 25px;
    margin-bottom: 10px;

    @media (max-width: 930px) {
        width: 100%;
    }

    &-body {
        display: flex;
        background-color: #e0e5ee;
        border-radius: $main-border-radius;
        padding: 25px;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 10px;

        @media (max-width: 700px) {
            min-width: none;
            flex-direction: column;
        }
    
        @media (max-width: 1366px) {
            width: 80%;
        }
    }

    &-button {
        position:relative;
        width: 100%;
        padding: 15px;
        font-size: 20px;
        color: white;
        border-radius: $main-border-radius;

        @media (max-width: 1366px) {
            width: 80%;
        }

        &--add {
            background-color: $success;
        }

        &--add:hover {
            background-color: $success-hover;
        }

        &--delete {
            background-color: $danger;
        }

        &--delete:hover {
            background-color: $danger-hover;
        }

        &--none {
            display: none;
        }
    }

    &-button:hover {
        cursor: pointer;
    }

    &-button:disabled {
        background-color: rgb(175, 175, 175);
        cursor: default;
    }
}

.card {
    background-color: $night;
    color: white;
    border-radius: $main-border-radius;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
        width: 130px;
        height: 130px;

        @media (max-width: 700px) {
            width: 80px;
            height: 80px;
        }
    }

    &--left {
        display: flex;
        flex-direction: column-reverse;

        img {
            margin-left: auto;

            @media (max-width: 700px) {
                margin-top: 20px;
            }
        }
    }

    &--right {
        img {
            @media (max-width: 700px) {
                margin-bottom: 20px;
            }
        }
    }

    &--center {
        background: none;
        color: $night;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 700px) {
            flex-direction: row-reverse;
            justify-content: space-around;
        }

        img {
            transform: rotate(25deg);
            width: 150px;
            height: 150px;

            @media (max-width: 700px) {
                transform: rotate(160deg);
                margin-bottom: 20px;
                width: 70px;
                height: 70px;
            }

            @media (max-width: 1112px) {
                width: 100px;
                height: 100px;
            }
        }
    }

    .logo {
        width: 60px;
        height: 60px;
    }
}

.react-tabs__tab--selected {
    padding: 20px !important;
    background-color: $indigo-dye !important;
    color: white !important;
    border: none !important;
}

.react-tabs__tab-list {
    background-color: $night;
    color: white;
}

.react-tabs__tab-list {
    margin-bottom: 30px !important;
}

.label-number {
    color: $success
}

.form-container {
    background-color: $night;
    color: white;
    border-radius: $main-border-radius;
    padding: 20px;
    width: 60%;

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        button {
            padding: 10px;
            width: 50%;
            border-radius: $additional-border-radius;
        }
    }

    .error {
        width: 80%;
        margin-top: 0;
    }
}

.registered-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    width: 80%;

    @media (max-width: 700px) {
        flex-direction: column;
        align-items: flex-start;
    }

    label {
        margin-right: 10px;
        white-space: nowrap;

        @media (max-width: 700px) {
            margin-bottom: 10px;
        }
    }

    input {
        padding: 10px;
        border-radius: $additional-border-radius;
        width: 100%;
    }

    select {
        padding: 10px;
        width: 100%;
        border-radius: $additional-border-radius;
        height: 40px;
    }
    &-option {
        padding: 10px;
    }
}

.error {
    background-color: $warning;
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: $additional-border-radius;
    margin-top: 20px;
    color: white;
}

.loader {
    margin-top: 30px;
}

.empty-message {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

.total {
    font-size: 20px;
    margin-top: 20px;
}