$night: #0D324D;
$oxford-blue: #101D42;
$indigo-dye: #103f61;
$alice-blue: #e0e5ee;
$main-border-radius: 20px;
$additional-border-radius: 10px;
$success: #28de3d;
$success-hover: #22bb33; 
$danger: #e3272a;
$danger-hover: #bb2124;
$warning: #e6b802;
$warning-hover: #d1a804;